---
//src/layouts/layout.astro
import Layout from "../layouts/layout.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Autoescuela Calderón</title>
	</head>
	<Layout>
	<main class="container mx-auto p-4">

	</main>
</Layout>
</html>
