  <header class="bg-white shadow-md sticky top-0 z-50">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between h-16">
          <nav class="hidden md:flex space-x-8">
                  <a href="/" class="text-gray-700 hover:text-#09848A transition-colors" >Inicio</a>
                  <a href="/carnets" class="text-gray-700 hover:text-#09848A transition-colors" >Carnets</a>
                  <a href="/recuperacion" class="text-gray-700 hover:text-[#09848A] transition-colors" >Recuperación</a>
                  <a href="/cap" class="text-gray-700 hover:text-[#09848A] transition-colors" >CAP</a>
          </nav>

          <div class="flex items-center space-x-8">
            <div class="flex items-center space-x-2 text-sm text-gray-600">
              <a href="/" class="text-gray-700 hover:text-[#09848A] transition-colors">Centro de formación</a>
            </div>
          </div>
          
        </div>
    </div>
  </header>
